<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/output.css">
</head>
<body>
    <div class="flex flex-col min-h-screen gap-8">
        <%- include('navbar', {links: links}) %>
        <div class="flex grow justify-center">
            <div class="flex flex-col min-w-full p-3 md:min-w-[700px] md:p-0 text-white">
                <div class="border-sold border-secondary-light rounded-lg border-2 p-3 flex flex-col gap-8">
                    <div class="self-center font-bold font-extrabold font text-4xl">posts</div>
                    <ul class="flex flex-col gap-5 max-w-full ">
                        <% posts.map((post) => { %>
                            <li class="flex flex-col p-2 border-2 border-secondary-light border-solid rounded-lg">
                                <div class="text-lg"><span class="font-bold text-2xl">User: </span> <%= post.user %></div>
                                <div class="text-lg">
                                    <span class="font-bold text-2xl">post: </span> 
                                    <% if(post.emptypost) { %>
                                        <span class="italic">No post Added</span>
                                    <% } else { %>
                                       <%= post.post %> 
                                    <% } %>
                                </div>
                                <div class="text-lg"><span class="font-bold text-2xl">Date Added: </span><%= post.added %></div>
                                <a href="/post/<%=post.id%>" class="self-end bg-secondary-dark p-2 rounded-lg font-bold">
                                    Open post
                                </a>
                            </li>
                        <% }) %>
                    </ul>
                    <a href="/post/new" class="flex md:self-end">
                        <button class="grow md:grow-0 md:min-h-12 md:w-48 min-h-16 bg-secondary-dark w-fit p-2 text-white font-bold rounded-lg">Add new post</button>
                    </a>
                </div>
            </div>
        </div>
        <%- include('footer'); %>
    </div>
</body>
</html>