<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/output.css">
</head>
<body>
    <div class="flex flex-col h-screen gap-8">
        <%- include('navbar', { links: links}) %>
        <div class="flex grow self-center text-white p-6 md:p-0 min-w-full md:min-w-[700px]">
            <div class="flex flex-col gap-3 border-white border-solid border-2 w-full rounded-lg h-fit p-8">
                <div class="self-center font-extrabold text-4xl">Post</div>
                <div class="flex gap-3 items-center">
                    <div class="font-bold text-2xl">User:</div>
                    <div class="text-lg"><%= post[0].username %></div>
                </div>
                <div class="flex gap-3 items-center">
                    <div class="font-bold text-2xl">Message:</div>
                    <div class="text-lg"><%= post[0].post %></div>
                </div>
                <div class="flex gap-3 items-center">
                    <div class="font-bold text-2xl">Date Added:</div>
                    <div class="text-lg"><%= post[0].date_added %></div>
                </div>
                <a class="flex md:self-end h-12 justify-center items-center bg-secondary-dark p-2 rounded-lg min-w-36" href="/">
                    <div class="text-lg font-bold">Go Back</div>
                </a>
            </div>
        </div>
        <%- include('footer') %>
    </div>
</body>
</html>